.content-panel-right {
  border-left: 3px solid #343A40;
}

/************************************************
                 Formularios
*************************************************/

form input[type="file"] {
  border: none;
}

.form-image-preview {
  margin-left: 20px;
  width: 120px;
}
